/__pycache__/
/.ipynb_checkpoints/
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
data.txt

ds_oxiod/handbag
ds_oxiod/large\ scale
ds_oxiod/multi\ devices
ds_oxiod/multi\ users
ds_oxiod/pocket
ds_oxiod/running
ds_oxiod/slow\ walking
ds_oxiod/test
ds_oxiod/trolley


venv